<form
  [formGroup]="form()"
  (ngSubmit)="submit()"
  class="flex flex-col gap-4 items-center text-theme-black w-full max-w-lg shadow-lg bg-white p-6 rounded-xl mx-auto dark:text-white dark:bg-theme-dark">
  <h2 class="text-lg font-semibold">Game Settings</h2>

  <!-- Similar Flag -->
  <div class="w-full flex items-center gap-2">
    <input
      type="checkbox"
      id="similarFlags"
      formControlName="similarFlags"
      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" />
    <label
      for="similarFlags"
      class="ml-2 text-sm font-medium text-gray-900 dark:text-white">
      Similar Flags
    </label>
  </div>

  <!-- Grayscale Mode -->
  <div class="w-full flex items-center gap-2">
    <input
      type="checkbox"
      id="grayscaleMode"
      formControlName="grayscaleMode"
      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" />
    <label
      for="grayscaleMode"
      class="ml-2 text-sm font-medium text-gray-900 dark:text-white">
      Grayscale Mode
    </label>
  </div>

  <!-- Independence Status -->
  <div class="w-full">
    <label
      for="independent"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
      Select Independence Status
    </label>
    <select
      id="independent"
      formControlName="independent"
      class="w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500">
      <option value="all">All</option>
      <option value="independent">Independent</option>
      <option value="nonIndependent">Non Independent</option>
    </select>
  </div>

  <!-- Regions -->
  <div class="w-full">
    <label
      for=""
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
      Select Regions
    </label>
    <div
      formGroupName="regions"
      class="flex flex-col">
      @for (region of availableRegions; track region; let i = $index) {
        <label>
          <input
            type="checkbox"
            [value]="region"
            [formControlName]="i"
            class="mr-2" />
          {{ region }}
        </label>
      }
    </div>
  </div>

  <!-- Start Game Button -->
  <button
    type="submit"
    class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
    Start Game
  </button>
</form>
